#fenetrePrincipale {
    -fx-background-image: url("../images/backgroundGame2.jpg");
    -fx-background-size: 1000 auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #dc143c, #32cd32);
}